div {text-align: center;}
h1 {background-color: hsl(160, 0%, 184%);
    background-color: rgb(196, 196,196);
    text-align: center;
    color: rgb(0, 86, 119);
    color: hsl(131, 240, 56);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    line-height: 150%;
    font-weight: 700;
    font-style: normal;
}

h2{
    background-color: #c4c4c4;
    color: #005677;
    font-size: 20px;
    line-height: 150%;


}
footer{
    background-color:#005677 ;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 150%;

}
.fechas{
    font-weight: bold;


}